@using ClickaholicWebApp.BLL.ServiceLayer.Dtos.Admin.About
@model UpdateAbout
<div class="about-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>About Us</h3>
                <figure class="figure">
                    <img src="~/@Model.ImageUrl" alt="about">
                </figure>
            </div>
            <div class="col-sm-12">
                <p>Welcome to my <a href="single.html">personal travel</a> blog, @Model.Description. </p>
               
            </div>
        </div>
    </div>
</div>